$primary: #ffb606;
$secondary: #ffffff;
$grey: #bfbfbf;
$black: #000000;

.button.is-primary {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}
